
body{
    background-color:black;
    background-image:url("../img/uCInUkw.png");
    background-size: cover;
    background-position: center;
    padding-top:0;
}

/*Top image section*/

.my-container {
    overflow: hidden;
    height:100vh;
    background-attachment:scroll;
}
.my-container h1 {
    color:white;
    font-size:6.6em;
    position: absolute;
    z-index: 2;
} 

.my-container p{
    color:white;
    font-size:3.6em;
    padding-top: 60%;
    position: absolute;
}
.overlay{
    position: absolute;
    width: 1140px;
    top: 5%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);   
}
.image-overlay{
    position: absolute;
    margin-top:10%;
    margin-left:50%;
    z-index: 3;
    width:100%;
}
/*portfolio section*/

.thumb-container{
    background-color:#212121;
    color:white;
}






