
body{
    background-color:black;
    padding-top:0;
}

.my-container {
    background-image:url("../img/uCInUkw.png");
    position: fixed;
    width:100%;
    overflow: hidden;
}
.my-container h1 {
    color:white;
    font-size:6.6em;
    padding: 40px;
    position: relative;
    z-index: 2;
    height:700px;
} 

.my-container p{
    color:white;
    font-size:3.6em;
    padding: 40px;
    position: relative;
    padding-left:40px;
}

















