
body{
    background-color:black;
    padding-top:0;
}

/*Top image section*/

.my-container {
    background-image:url("../img/uCInUkw.png");
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment:fixed;
}
.my-container h1 {
    color:white;
    font-size:6.6em;
    position: absolute;
    z-index: 2;
} 

.my-container p{
    color:white;
    font-size:3.6em;
    padding-top: 60%;
    position: absolute;
}
.overlay{
    position: absolute;
    width: 1140px;
    top: 5%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);   
}

/*portfolio section*/

.thumb-container{
    background-color:#212121;
    color:white;
}













